{% load static %}
<link rel="stylesheet" href="{% static 'style_2.css' %}">

<main class="container">

  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img class="img-left" src="{{ item.image.url }}" />
  </div>

  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <h1>{{ item.name }}</h1>
      <p>{{ item.description }}</p>
    </div>

    <div class="product-price">
      <span>{{ item.price }} ₴</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>
  </div>
</main>